# execute this workflow automatically when a we push to master
#Note: Guide: https://tech.michaelaltfield.net/2020/07/18/sphinx-rtd-github-pages-1/

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
 
  build_docs_job:
    runs-on: ubuntu-latest
    container: debian:buster-slim
 
    steps:
 
    - name: Prereqs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        apt-get update
        apt-get install -y git
      shell: bash

    - name: Execute script to build our documentation and update pages
      uses: actions/checkout@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: "docs/builder.sh"
      shell: bash